* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section-name {
  font-family: 'Overpass', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0px;
  margin-left: 4.5vw;
}
/* header */
.header-area {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 23px 70px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 4px 0px rgba(34, 34, 34, 0.036);
}
.header-logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 26px;
  color: rgb(10, 41, 77); /*#174cae;*/
}
.header-title-sub {
  position: absolute;
  top: 45px;
  left: 89px;
  font-family: 'Yellowtail', cursive;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  color: #b5b3b3;
}
input {
  position: absolute;
  height: 33px;
  width: 26em;
  margin-right: 25px;
  border-radius: 5px;
  border: 1px solid #e2e0e0c7;
  background-color: rgba(14, 14, 14, 0.737);
  padding: 20px;
  z-index: 10;
  left: -9.5em;
  top: -11.6em;
}
/* main1 text bar */
.searchContainer {
  position: relative;
}
.searchContainer input {
  position: absolute;
  top: -230px;
  background-color: white;
  border-radius: 10px;
  opacity: 60%;
  width: 30vw;
  height: 3vh;
}
.searchContainer input[type='text'] {
  padding-left: 40px;
  font-size: 17px;
  color: black;
}
.searchContainer input[type='text']::placeholder {
  color: black;
}
.searchContainer button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 100%;
  z-index: 100;
  color: rgb(30, 30, 30);
  left: -9.5em;
  top: -223px;
}
/* navBar button */
.navBar {
  position: absolute;
  right: 4em;
  top: 28.5px;
}
.navBar a {
  color: black;
  padding: 0px 9px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 400;
}
.login-deco {
  margin-right: 10px;
}
.navBar .login-icon {
  background-color: #cfcfcf;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px 12px;
  margin-right: 0;
  font-size: 18px;
}
/* main1 carousel */
.img-area img {
  width: 100vw;
  height: 82vh;
  background-size: cover;
  /**/
  filter: brightness(80%);
  opacity: 95%;
}
.carousel-caption {
  display: flex;
}
.carousel-caption h1 {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  position: absolute;
  left: -160px;
  font-size: 52px;
  top: -400px;
  letter-spacing: 1px;
  display: flex;
}
.carousel-caption a {
  position: absolute;
  color: white;
  font-size: 18px;
  left: -158px;
  top: -260px;
  font-weight: 200;
  letter-spacing: 1px;
}
/* main1 weather box area */
.weatherBox {
  position: absolute;
  right: -120px;
  top: -280px;
  background-color: rgb(255, 255, 255);
  opacity: 60%;
  padding: 25px, 10px;
  width: 28em;
  height: 16em;
  border-radius: 15px;
  color: black;
}
.weatherBox h5 {
  font-size: 26px;
  padding: 25px 32px;
  padding-top: 29px;
  padding-bottom: 15px;
  letter-spacing: 1px;
  text-align: left;
}
.weatherBox p {
  display: flex;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-top: 0px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 19px;
  color: rgb(28, 28, 28);
}
/* main2 carousel */
h3 {
  font-size: 30px;
  margin-top: 90px;
  margin-left: 65px;
  letter-spacing: 2px;
}
.img_box img {
  max-width: 100%;
  filter: brightness(73%);
  cursor: pointer;
  border-radius: 15px;
}
.slider_container .container {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}
.card_slider {
  padding-bottom: 70px;
  padding-top: 40px;
}
div .container {
  margin: 0 75px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  background-color: #7699b5;
  margin: 0 5px;
  border-radius: 0;
}

.swiper-slide {
  position: relative;
}

.slide-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 40px 25px;
  font-size: 35px;
  letter-spacing: 2px;
  opacity: 1;
}
.slide-subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.838);
  padding: 20px 25px;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 1;
}
/* main2 carousel hover screen */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.img_box:hover .overlay {
  opacity: 1;
}
.weather-info,
.description {
  margin-top: 10px;
}

.img_box:hover {
  filter: brightness(68%);
}
/* recommendation and wishlist setting */
.card .image-box img {
  height: 280px;
  width: 282px;
  border-radius: 15px;
}
.card {
  border: none;
  width: 300px;
}
.card h3 {
  margin-top: 15px;
  margin-left: 0;
  font-size: 22px;
}
.card p {
  text-align: left;
}
/*notification*/
.noti-container {
  height: 95vh;
}
.noti-box {
  background-color: #c9dcec;
  text-align: center;
  padding: 60px 0px;
  margin-top: 130px;
}
.noti-name {
  font-size: 30px;
  font-weight: 500;
}
.noti-desc {
  font-size: 21px;
  font-weight: 300;
  color: rgb(17, 55, 95);
}
.noti-btn {
  padding: 20px;
}
.noti-btn-detail {
  background-color: rgb(255, 255, 255);
  color: rgb(19, 54, 75);
  border-radius: 7px;
  font-size: 16px;
}
.noti-btn-first {
  width: 300px;
  min-height: 30px;
  min-width: 120px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 17px;
  padding: 8.5px;
  border: none;
  background-color: #7699b5;
  color: white;
}
.noti-btn-second {
  padding: 10px;
  width: 47px;
  min-height: 30px;
  min-width: 40px;
  background-color: #ffffff;
  border: none;
}
.noti-btn-first:hover {
  background-color: white;
  color: #4184bb;
  /*transition: 0.9s;*/
  cursor: pointer;
}

.noti-btn-second:active {
  padding: 10px;
  border: none;
  background-color: #afbac2;
  cursor: pointer;
}
.noti-btn-second:hover {
  cursor: pointer;
}

/*footer*/
.footer {
  position: absolute;
  bottom: 0;
  border: 2px solid #37558e;
  background-color: #37558e;
  width: 100%;
  margin-top: 10px;
}
.footer-container {
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.first-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 80px;
}
.sns-icon {
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 50%;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sns-icon:hover {
  background-color: rgb(209, 216, 234);
  cursor: pointer;
}
.second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-deco {
  font-size: 18px;
  color: white;
  font-weight: 500;
  padding: 10px;
  padding-right: 20px;
}
.info-deco-edit {
  padding-right: 7px;
}
.info-deco:hover {
  color: rgb(209, 216, 234);
  cursor: pointer;
}
.footer-copyRight-area {
  padding: 10px;
  padding-top: 30px;
  font-size: 15px;
  color: #e0e0e0;
  font-weight: 400;
}
.footer-brand-name {
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.appStore-area {
  display: flex;
}
.apple-logo {
  width: 134px;
  height: 51px;
  border: 9px solid #37558e;
}
.google-logo {
  width: 134px;
  height: 51px;
}

.card_slider {
  padding-top: 20px;
}
.swiper {
  margin-left: 0.5vw;
}
