body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*font-name: .noto-sans*/
}
.weatherInfo-box {
    border: 1px solid black;
    padding-left: 20px;
    max-width: 25em;
}
section button {
    font-size: 15px;
}